body {
    margin: 0 25%;
    background-color: #ebebeb;
    font-family: "Inter", sans-serif;
}

.title {
    background-color: #11001c;
    padding: 1px;
    color: #ebebeb;
    border-radius: 0 0 100px 100px;
    margin: 0 15%; 
}

h1 {
    text-align: center;
    font-size: 40px;
}

h2  {
    text-align: center;
    font-size: 34px;
}

p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    color: #11001c;
    font-size: 18px
}

.container {
    display: grid;
    grid-template-columns: 3fr 7fr;
    gap: 40px;
    align-items: start;
    max-width: 800px;
    margin: 0 auto;
}

.left {
    display: grid;
    grid-template-rows: auto auto;
    justify-items: end; 
}

.left p {
    margin: 18px 0 10px 0;
    font-size: medium;
}

.left img {
    display: block;
    justify-items: end; 
    max-width: 300px;
}

.right {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

hr {
    margin-top: 20px;
    max-width: 800px;
}

.full-length {
    margin-top: 80px;
    max-width: 100%;
    background-color: #000;
    height: 1px;
}

.center {
    text-align: center;
}